@use '../../styles/variables.module';

.intro {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nameGroup {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 60px;
  font-weight: bold;
}

.title {
  font-size: 40px;
  font-weight: 200;
}

.description {
  font-size: 32px;
  font-weight: 300;
  color: variables.$secondary-color;
  max-width: 500px;
}

.linkedin {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
  cursor: pointer;

  path {
    transition: fill-opacity ease-in-out 0.2s;
  }

  &:hover {
    path {
      fill-opacity: 0.5;
    }
  }
}