@use '../../styles/variables.module';

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.tab {
  font-size: 32px;
  font-weight: 300;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  cursor: pointer;

  &:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: variables.$light-gray;
    transition: width ease-in-out 0.3s;
  }

  &:hover {
    &:before {
      width: 80px;
    }
  }

  &:global(.active) {
    color: variables.$secondary-color;
    font-weight: bold;

    &:before {
      height: 3px;
      width: 80px;
      background-color: variables.$secondary-color;;
    }
  }
}